* { 
	margin: 0; 
	padding: 0;
	border: 0; 
	font-size: 100%;
}

h1 { 
	color: white;
	text-decoration: overline; 
	font-size: 20px; 
	font-family: "Stick"
}

header {
	background-image: url(../images/iStock_000004809773XSmall.jpg);
	padding-top: 10px;
	padding-bottom: 20px;
}

#my-id { 
	background-color: darkolivegreen; 
	font-style: italic; 
	text-align: center;
}

.my-class { 
	text-align: center; 
	margin: 10px;
	font-family: "Stick"
}

.container {
	
background-color: rgb(68, 207, 142);
border: 2px solid rgb(19, 83, 46);
max-width: 800px;
padding: 20px;
margin-left: auto;
margin-right: auto;
}
