h1 { 
	color: red; 
	text-decoration: underline; 
	font-size: 20px; 
}

#my-id { 
	background-color: chocolate; 
	font-style: italic; 
	text-align: center;
}

.my-class { 
	text-align: center; 
	margin: 10px;
}

.my-container { 
	background-color: aquamarine; 
	margin: 10px; 
	border: 2px solid grey; 
	padding: 1em; 
}